
<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            &lt;!&ndash;<h1>home view loaded</h1>&ndash;&gt;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">

            <h2>Locations</h2>

            <li ng-repeat="l in locations">
                {{l.name}}
            </li>


            <h2>Venues</h2>
            <li ng-repeat="v in venues">
                {{v.displayName}}
            </li>

            <div ui-view="apiOutput">

            </div>
        </div>
        <div class="col-sm-12 col-md-8">

        </div>

    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--<h1>home view loaded</h1>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div ui-view="searchForm">

            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div ui-view="mapView">

            </div>
        </div>

    </div>
</div>